body{
  background-color: rgb(23, 13, 66);
}



/*--------------BARRA DE NAVEGACION------------*/
nav{
background-color: white;
}

.logoInit{
  border-radius: 50px;
}

.cardTxt{
  height: 40px;
}

.imagen{
  height: 100%;
}

.textoNav{
  font-family: orbitron;
}

.navbtn:hover{
  box-shadow: 7px 7px 5px 0px rgba(13,110,253,0.46);
}

/*--------------OFFCANVAS------------*/

.offcanvas{
  background-color: rgb(23, 13, 66);
  margin: 0px;
}

.offcanvas .offcanvas-header{
  background-color: white;
  margin: 0px -11px 0px -11px;  
}

.offcanvas-title{
  font-family: orbitron;
  font-weight:bold;
}
.offcanvas-body{
  color: white;
  padding-bottom: 5px;
}

.form-control{
  font-family: orbitron;
}
.offcanvas-body::-webkit-scrollbar{
  background-color:rgb(23, 13, 66);
 width: 7px;
}
.offcanvas-body::-webkit-scrollbar-thumb{
  background-color:#0D6EFD;
  border-radius: 7px;
  width: 20px;
}
/*--------------CARRUSEL------------*/


.carrusel{
  display: flex;
  margin-top: 5px;

  
}

.carruselItems{
  display: flex;
  overflow-x:scroll;
  overflow-y:hidden;
  padding-bottom: 30px;
  padding-top: 35px;
}

.carruselItem .cardMovies{
  min-width: 200px;
  max-width: 10px;
  height: 300px;
  
}

.carruselItem .cardMovies .imagenesCard{
  width: 100%;
  height: 100%;
  border-radius: 7px;
  
}

.carruselItem:hover{
  transform: scale(1.2);
}

.carrusel .carruselItems::-webkit-scrollbar{
  background-color:rgb(23, 13, 66);
 
}
.carrusel .carruselItems::-webkit-scrollbar-thumb{
  background-color:#0D6EFD;
  border-radius: 7px;
}

.carrusel .carruselItems::-webkit-scrollbar-thumb:hover{
  background-color:white;
  border-radius: 7px;
}

/*---------------MODAL-------------------*/

.modal-header{
  display: inline-block;
  background-color: black;
}

.btn-close{
 background-color: white;
}

/*--------------VIDEO PORTADA------------*/

.tituloVideo{
  font-family: anton;
  font-size: 70px;
  color: white;
}

.tituloVideoDos{
  color: white;
}

.tituloVideoTres{
  color: white;
}